h2 {font-size: 18px}
label {font-weight: normal}

.nav > li > a {padding: 10px 14px}
#containerTabs li a {font-size: 20px; color: #bbb; height: 50px; border-top: 4px transparent solid}
#containerTabs li.active a {color: black; border-top-color: green}
#containerTabs li:not(.active) a:hover {background-color: inherit; cursor: default; border-color: transparent}
#containerTabs li#tabResults.active a {border-top-color: red}
	#tab_aerobic, #tab_anaerobicLactic, #tab_anaerobicAlactic, #tabResults {display: none}

#containerPanes {margin-top: 15px; float: left; width: 100%}
	#containerPanes div.tab-pane {font-size: 16px}
	#containerPanes div.tab-pane p.information {font-weight: bold; font-size: 20px}

@media (min-width: 1200px) {
	.container {width: 970px}
}

#aerobicRestAvg {display: none}

.error {
	color: #f00;
	float: left
}

#advancedResults {display: none; position: absolute; z-index: 1;
	border: 1px #eee solid; border-radius: 10px; background-color: white; padding: 10px}

#btnAdvancedResults {display: none}
#btnAdvancedResults:not(.active):focus {background-color: white} 

.title-area {
	width: 100%;
	text-align: center;
	font-weight: bold
}

.handsontable {
	padding-top: 10px
}

#aerobicRestAvg {
	padding-top: 1px
}

#other-units thead th {
	background-color: #ccc;
	color: #000
}

#other-units tbody tr td:first-child {
	font-weight: bold
}

#containerButtons {margin: 30px 0 100px 0; float: left}
	#btnPrevious {display: none}
	#exportDropdown {display: none}
	#containerButtons > div.dropdown {display: inline-block}
	#btnNewAnalysis {display: none}