h2 {font-size: 18px}
label {font-weight: normal}

#containerTabs li a {font-size: 20px; color: #bbb; height: 50px; border-top: 4px transparent solid}
#containerTabs li.active a {color: black; border-top-color: green}
#containerTabs li#tabResults.active a {border-top-color: red}

#containerPanes {margin-top: 15px; float: left; width: 100%}

#controls {margin-top: 15px}
	#controls button {margin-left: 25px}
	#exp-svg, #exp-png, #exp-jpg {display: none}

@media (min-width: 1200px) {
	.container {width: 970px}
}