/*
Copyright 2014 António Miranda, Caio Valente, Igor Topcin, Jorge Melegati, Thales Paiva, Victor Santos

This file is part of PhysUSP.

PhysUSP is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PhysUSP is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with PhysUSP. If not, see <http://www.gnu.org/licenses/>.
*/

@media (min-width: 1200px) {
	.container {width: 992px}
}

body {
	background-color: #f8f8f8;
}

.home-header .img-responsive {
	display: inline;
} 

.body-description-row {
	margin-top: 20px;
	font-family: "segoe ui", sans-serif;
	font-weight: lighter;
	font-size: 1.2em;
	line-height: 2em;
}

.start-container {
	max-width: 400px;
	margin: 0 auto 10px;
}

.start-btn-row {
	margin-top: 20px;
}

.footer-row {
	margin-top: 100px
}

.btn-start {
	font-size: 1.8em;
}

.home-header {
	margin-top: 0;
	padding: 20px 0;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	background-color: white;
}

.home-body {
	padding-bottom: 30px;
}

#git {
 	background: url("../img/git.png") no-repeat scroll 95% 50% #428bca;;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    display: inline-block;
    font-weight: 700;
    padding: 10px 50px 10px 10px;
    position: relative;
    z-index: 10;
    align: right;
    float: right;
}

.navbar {
	margin-top: 10px;
	background-color: #428bca;	
}

.navbar a {
	font-weight: bold;
	font-size: medium;
	color: #fff !important;
}

.about {
	font-family: "segoe ui", sans-serif;
	font-weight: lighter;
	font-size: 1.2em;
	line-height: 2em;
}

.about ul {
	list-style-type: none;
}